<% provide(:title, '') %>

<div class="main_visual text-center">
  <div class="container-lg p-3">

    <h1 id="logo" class="display-3">Tournament Note</h1>
    <p>トーナメント表、リーグ表の作成サイト</p>

    <div class="d-inline-flex flex-column flex-md-row justify-content-center gap-3">
      <%= link_to '#', class: "btn btn-outline-main btn-lg" do %>
        <i class="bi bi-plus-circle"></i> トーナメント表作成
      <% end %>

      <%= link_to '#', class: "btn btn-outline-main btn-lg" do %>
        <i class="bi bi-plus-circle"></i> リーグ表作成
      <% end %>
    </div>

  </div>
</div>


<div style="height: 5000px" class="bg-light"></div>
