<% if bookmarked_tournaments.present? %>
  <div class="nav-item dropdown">
    <button id="dropdown-bookmark" class="navbar-toggler dropdown-toggle" type="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      <span><i class="bi bi-star-fill"></i></span>
    </button>

    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown-bookmark">
      <% bookmarked_tournaments.each do |tournament_id| %>
        <%= link_to tournament_name(tournament_id), tournament_path(tournament_id), class: "dropdown-item", data: { turbo_frame: "_top" } %>
      <% end %>
    </div>
  </div>
<% end %>