<table id="roundrobin-table" class="roundrobin-table table table-bordered text-center">
  <thead>
    <tr>
      <th class="no-game-cell"></th>
      <% roundrobin.teams.each do |team| %>
        <th>
          <%= team_uniform(team) %>
          <div><%= team_name(team) %></div>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% roundrobin.teams.each do |team| %>
      <%= roundrobin.tr_tag__team_record(round:, current_team: team) %>
    <% end %>
  </tbody>
</table>