<%= turbo_frame_tag "modal" do %>
  <div class="modal" id="gameModal" data-controller="auto-modal" data-action="turbo:submit-end->auto-modal#close_if_success" tabindex="-1" aria-labelledby="gameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h4 class="modal-title"> 試合結果 </h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>