<table id="ranking-table" class="table sticky-table table-bordered text-center mb-5">
  <thead>
    <tr>
      <th>順位</th>
      <th>チーム</th>
      <th>試合</th>
      <th>勝</th>
      <th>分</th>
      <th>敗</th>
      <th>勝点</th>
      <th>勝率</th>
    </tr>
  </thead>

  <%= tbody_tag__ranking(ranking:, teams:) %>
</table>

<div>
  <p>順位条件</p>
  <% if @roundrobin.rank1 != 'none' %>
    <p><%= "(1) #{Roundrobin::RANK_CONDITION[@roundrobin.rank1]}" %></p>
  <% end %>
</div>