<% if roundrobin.num_of_round > 1 %>
  <div class="my-4">
    <%# [Sample]  Round 1 / 10  %>
    <div class="round-display">
      <%= "Round #{round} / #{roundrobin.num_of_round}" %>
    </div>

    <div data-controller="select-redirect"
         data-select-redirect-url-value="<%= change_round_roundrobin_url(roundrobin) %>"
         data-select-redirect-query-value="round">
      <div class="round-display d-flex justify-content-center form-group">
        <%= select_tag(:round, options_for_select(round_select_contents.map { |c| [c[:name], c[:value]] }, { selected: round }),
                       { id: "round_select", class: "w-50 form-control", data: { action: "change->select-redirect#jump", select_redirect_target: "query" } }) %>
      </div>
    </div>
  </div>
<% end %>