<% set_meta_tags title: 'リーグ一覧', og: { title: 'リーグ一覧' } %>

<div class="container-lg my-3">
  <h1 class="mb-4">リーグ一覧</h1>

  <% if @roundrobins.present? %>
    <p class="lead"><%= "リーグ数: #{@num_of_roundrobins}" %></p>
    <div class="row mb-4">
      <%= render @roundrobins %>
    </div>
    <div class="d-flex justify-content-center">
      <%= paginate @roundrobins, theme: 'bootstrap-5' %>
    </div>
  <% else %>
    <div class="alert alert-warning">リーグは未登録です</div>
  <% end %>
</div>