<% provide(:title, 'リーグ一覧') %>

<div class="container-lg my-3">
  <h1 class="mb-4">リーグ一覧</h1>

  <% if @roundrobins.present? %>
    <div class="row">
      <%= render @roundrobins %>
    </div>
  <% else %>
    <div class="alert alert-warning">リーグは未登録です</div>
  <% end %>
</div>