<% provide(:title, @roundrobin.name) %>

<%# リーグ共通ヘッダ %>
<%= render "shared/roundrobin_header", { roundrobin: @roundrobin, current_page: "順位表" } %>

<%# 参加チームなしの場合 %>
<% if @teams.count < 2 %>
  <div class="container-lg my-3">
    <div class="alert alert-warning">参加チームが2チーム以上必要です</div>
  </div>

<% else %>
  <div class="bg-light">
    <div class="container-lg my-3">
        <%= render partial: "roundrobins/ranking_table",
                   locals: { ranking: @ranking, teams: @teams } %>
    </div>
  </div>

<% end %>
