<% provide(:title, @roundrobin.name) %>

<%# トーナメント共通ヘッダ %>
<%= render "shared/roundrobin_header", { roundrobin: @roundrobin, current_page: "共有" } %>

<div class="container-lg my-3">
  <p>このリーグのURL</p>
  <div class="alert alert-light overflow-x-scroll">
    <%= roundrobin_url(@roundrobin) %>
  </div>
</div>