.round-display {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  @include media-breakpoint-up(sm) {
    width: 50%;
  }
}

.roundrobin-table-wrapper {
  max-height: 85vh;
  overflow: auto;
}

.roundrobin-table {
  width: 100%;
  @include media-breakpoint-up(sm) {
    width: 50%;
  }
  border: 1px solid $dark;
  border-collspace: separate;

  tr {
    height: 4.0rem; // 試合結果がある行とない行の高さを合わせる。
  }

  th {
    padding: 0;
    font-size: 0.9rem;
    width: 4.0rem; // チーム名は最大2行で収まる幅。
    min-width: 4.0rem;
    font-weight: bold;
    color: black;
    background-color: var(--bg-color-header);
    vertical-align: middle;
  }

  td {
    background-color: var(--bg-color-data);
    height: 0;
    padding: 0;
  }

  .game-cell {
    a {
      display: flex;
      color: black;
      height: 100%;
      width: 100%;
      text-decoration: none;
    }
    i {
      font-size: 1.25rem;
    }
    .score {
      font-size: 1.0rem;
      font-weight: bold;
      color: $gray-600
    }
  }

  .no-game-cell {
    background-image: linear-gradient(to top right,
            transparent, transparent 49.0%,
            $gray-500 49.7%, $gray-500 50.3%,
            transparent 51.0%, transparent);
    vertical-align: bottom;
  }

  thead {
    th {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 1;
    }
    th:first-child {
      z-index: 2;
    }
  }

  th:first-child {
    /* 横スクロール時に固定する */
    position: -webkit-sticky;
    position: sticky;
    left: 0;
  }

}

#ranking-table {
  //width: auto;
  th {
    background-color: var(--bg-color-header);
    vertical-align: middle;
  }
  th:nth-child(2) {
    min-width: 6.0rem;
  }
  td {
    padding: 0.25rem;
    background-color: var(--bg-color-data);
    vertical-align: middle;
  }
}
