.uniform-red {
  color: $red;
}
.uniform-orange {
  color: $orange;
}
.uniform-yellow {
  color: $yellow;
}
.uniform-green {
  color: $green;
}
.uniform-blue {
  color: $blue;
}
.uniform-indigo {
  color: $indigo;
}
.uniform-purple {
  color: $purple;
}
.uniform-pink {
  color: $pink;
}
.uniform-cyan {
  color: $cyan;
}
.uniform-black {
  color: $black;
}
.uniform-none {
  opacity: 0;
}
