@import 'bootstrap-custom';
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

// Layouts
@import "layouts/header";
@import "layouts/footer";

// Module
@import "module/logo";
@import "module/elimination_table";
@import "module/roundrobin_table";
@import "module/game_form";
@import "module/nameplate";
@import "module/uniform";
@import "module/main_visual";
@import "module/bootstrap_icon";
