<div class="col-md-6 mb-2">
  <div class="card bg-light">
    <%= link_to elimination_path(elimination), class: "card-body text-decoration-none" do %>
      <div class="d-flex justify-content-between">
        <p class="card-title"><%= elimination.name %>　<%= span_tag__status(elimination) %></p>
        <i class="bi bi-chevron-right"></i>
      </div>
    <% end %>
  </div>
</div>