<% provide(:title, @elimination.name) %>

<%# トーナメント共通ヘッダ %>
<%= render "shared/elimination_header", { elimination: @elimination, current_page: "共有" } %>

<div class="container-lg my-3">
  <p>共有URL</p>
  <div class="alert alert-light overflow-x-scroll">
    <%= elimination_url(@elimination) %>
  </div>
</div>